.container {
    padding: 0.5rem 5rem;
    min-height: 45vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.card {
    position: relative;
    border: 2px solid #FFF85A;
    border-radius: 1rem;
    padding: 1rem;
}

p {
    position: relative;
}

.highlight {
    display: block;
    color: #EEB;
    padding-top: 0.25rem;
}

.spreadLine {
    position: absolute;
    width: 5.1rem;
    top: 5.5rem;
    left: -5.1rem;
    background-color: #FFF85A;
    height: 0.25rem;
}