.section {
    padding: 0.5rem 2rem;
}

.justify {
    display: flex;
    align-items: center;
    justify-content: center;
}

.heading {
    justify-content: center;
    align-items: center;
    padding-top: 0;
    padding-bottom: 0;
    color: #FFF;
    font-family: 'Goldman', "helvetica", consolas, sans-serif;
    font-size: 28px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 0.84px;
    margin-left: 20px;
    margin-right: 20px;
}

.cells {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
}

.cell {
    width: 1057px;
    flex-shrink: 0;
    border-radius: 20px;
    border: 1px solid rgba(255, 137, 0, 0.87);
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25) inset;
    margin-top: 31px;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.number {
    color: #FFF;
    font-family: Puritan;
    font-size: 32px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 2.24px;

    margin-top: 27px;
    margin-left: 19px;
    margin-bottom: 27px;
}

.question {
    flex-shrink: 1;
    color: #FFF;
    font-family: 'Puritan';
    font-size: 22px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 1.54px;

    margin-top: 23px;
    margin-left: 61px;
    margin-bottom: 23px;
}

.downarrow {
    width: 20px;
    height: 20px;
    flex-shrink: 0;

    background: url(../../../../../public/hackmania/faq-down-arrow.svg), lightgray 50% / cover no-repeat;
}

/* Media query for medium screens (tablets) */
@media (max-width: 768px) {
    .section {
        padding-top: 0.5rem 2rem;
    }

    .heading {
        font-size: 24px;
        /* Adjust font size for medium screens */
        margin-left: 10px;
        /* Adjust margin for medium screens */
        margin-right: 10px;
        /* Adjust margin for medium screens */
    }

    .cells {
        margin-top: 15px;
    }

    .cell {
        width: 100%;
        /* Make cells full-width on medium screens */
        margin-top: 20px;
        padding: 15px;
    }

    .number {
        font-size: 28px;
        margin-top: 20px;
        margin-left: 15px;
        margin-bottom: 20px;
    }

    .question {
        font-size: 20px;
        margin-left: 30px;
        margin-top: 15px;
        margin-bottom: 15px;
    }

    .downarrow {
        width: 16px;
        height: 16px;
    }
}

/* Media query for small screens (mobile devices) */
@media (max-width: 480px) {

    .section {
        padding-top: 0.5rem 2rem;
    }

    .heading {
        font-size: 20px;
        /* Adjust font size for small screens */
        margin-left: 5px;
        /* Adjust margin for small screens */
        margin-right: 5px;
        /* Adjust margin for small screens */
    }

    .cells {
        margin-top: 10px;
    }

    .cell {
        width: 100%;
        margin-top: 15px;
        padding: 10px;
    }

    .number {
        font-size: 24px;
        margin-top: 15px;
        margin-left: 10px;
        margin-bottom: 15px;
    }

    .question {
        font-size: 18px;
        margin-left: 20px;
        margin-top: 10px;
        margin-bottom: 10px;
    }

    .downarrow {
        width: 12px;
        height: 12px;
    }
}