.section {
  width: 100%;
}

.justify {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 3rem;
  margin-bottom: 2rem;
}

.reachus {
  color: #fff;
  font-family: Goldman;
  font-size: 32px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.footerheading {
  color: #fff;
  font-family: Puritan;
  font-size: 32px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.heading {
  justify-content: center;
  align-items: center;
  color: white !important;
  font-family: 'Goldman';
  font-size: 28px !important;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 0.84px;
  margin-left: 20px;
  margin-right: 20px;
}

.footerContainer {
  padding: 1rem 5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
  align-items: center;
  border-radius: 10px;
  background: rgba(255, 248, 90, 0.2);
}

.rightFooter {
  place-content: right;
}

.heading {
  font-size: 18px;
  color: #fff85a;
}

.footerContent {
  color: white;
  text-align: left;
}

.map {
  height: auto;
  background-color: #ddd;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 20px;
  padding: 10px;
  background: white;

  -moz-border-radius: 20px;
  border-radius: 20px;
  /* width: 560px; */
  margin: 0 auto;
  overflow: hidden;
}

.instagram {
  display: flex;
  justify-content: left;
}

.mappy {
  border: 4px solid #000;
  -moz-border-radius: 15px;
  border-radius: 15px;
}

.flex {
  display: flex;
}

@media (max-width: 980px) {
  .footerContainer {
    flex-direction: column;
    padding: 0 2rem;
  }
}

@media (max-width: 480px) {
  .map {
    max-width: 340px;
  }

  .footerheading {
    margin-top: 2rem;
  }

  .flex {
    display: flex;
    justify-content: center;
  }
}