.justify {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 3rem;
    margin-bottom: 2rem;
}

.reachus {
    color: #FFF;
    font-family: Goldman;
    font-size: 32px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.footerheading {
    color: #FFF;
    font-family: Puritan;
    font-size: 32px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.heading {
    justify-content: center;
    align-items: center;
    color: #FFF;
    font-family: 'Goldman';
    font-size: 28px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 0.84px;
    margin-left: 20px;
    margin-right: 20px;
}

.footerContainer {
    display: grid;
    grid-template-columns: 0.7fr 0.3fr;
    gap: 20px;
    align-items: center;
    border-radius: 10px;
    background: rgba(255, 248, 90, 0.20);
    padding: 20px;
    height: 480px;
}

.leftFooter {
    margin-left: 5rem;
}

.rightFooter {
    justify-content: right;
}

.heading {
    font-size: 18px;
    color: #FFF85A;
}

.footerContent {
    color: white;
    
}

.map {
    width: 440px;
    height: 440px;
    background-color: #ddd;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 20px;
}
