.section {
    width: 100%;
}

.justify {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 3rem;
    margin-bottom: 2rem;
}

.reachus {
    color: #FFF;
    font-family: Goldman;
    font-size: 32px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.footerheading {
    color: #FFF;
    font-family: Puritan;
    font-size: 32px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.heading {
    justify-content: center;
    align-items: center;
    color: #FFF;
    font-family: 'Goldman';
    font-size: 28px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 0.84px;
    margin-left: 20px;
    margin-right: 20px;
}

.footerContainer {
    padding: 1rem 5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
    align-items: center;
    border-radius: 10px 0;
    background: rgba(255, 248, 90, 0.20);
}

.rightFooter {
    place-content: right;
}

.heading {
    font-size: 18px;
    color: #FFF85A;
}

.footerContent {
    color: white;

}

.map {
    height: auto;
    background-color: #ddd;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 20px;
}

@media (max-width: 980px) {
    .footerContainer {
        flex-direction: column;
        padding: 0 2rem;
    }
}

@media (max-width: 480px) {
    .map {
        max-width: 340px;
    }
}