.container {
  color: white;
  max-width: 100svw;
  overflow-x: hidden;
}

.mainbg {
  background-image: url(../../../../../public/hackmania/gradientbg.png);
  background-repeat: no-repeat;
  background-size: 100% 100%;
  object-fit: cover;
  background-position: center;
  overflow: hidden;
  background-attachment: fixed;
  background-color: black;
}

.gradientbg {
  background-image: url(../../../../../public/hackmania/hero-image.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  min-height: 100svh;
  object-fit: cover;
}