/* Figure - as wrapper */
figure {
    padding: 0;
    margin: 0;
}

.container {
    position: relative;
    min-height: 100svh;
}

/* Header for logos */
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100svw;
    padding: 1rem 3rem;
}

.title {
    width: 650px;
    height: auto;
}

/* Logo */
.logo {
    height: 75px;
    width: auto;
}

.logoTwo {
    padding-top: 0.5rem;
    height: 65px;
    justify-self: left;
    width: auto;
    margin-left: 2px;
}

.highlight {
    color: #eeb;
    font-family: Puritan;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 0.6px;
}

.main {
    display: grid;
    place-items: center;
    padding: 0 5rem;
}

.justify {
    display: flex;
    align-items: center;
    gap: 1rem;
    max-width: 500px;
    margin: auto;
}

/* Center */
.center {
    display: grid;
    place-items: center;
    position: relative;
}

.rows {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: relative;
    padding: 2rem 0;
}

.arrow {
    height: 6rem;
    position: absolute;
    left: 10rem;
    top: 1rem;
}

.applyButton {
    position: relative;
    z-index: 9999999;
    border-radius: 0.5rem;
    height: auto;
    width: auto;
}


.dateContainer {
    position: relative;
    display: grid;
    place-items: center;
}

.dateText {
    color: #eeb;
    font-size: 35px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 1.05px;
    margin-top: 0px;
}

.dateAbsoluteText {
    position: absolute;
    margin: auto;
    color: #eeb;
    font-size: 35px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 1.05px;
}

/* Footer */
a {
    text-decoration: none;
    color: inherit;
    color: #eeb;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 1.05px;
    cursor: pointer;
}

.footer {
    position: absolute;
    bottom: 3rem;
    left: 0;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 5rem 0.5rem 5rem;
    z-index: 9999999;
}

.spreadLine {
    background-color: white;
    border-radius: 1rem;
    height: 0.25rem;
    width: 8rem;
}

.apply-button {
    position: relative;
    z-index: 9999999;
}

/* Media query for medium screens (tablets) */
@media (max-width: 820px) {
    .header {
        padding: 1rem;
    }

    .logo {
        height: 60px;
    }

    .logoTwo {
        height: 60px;
    }

    .highlight {
        font-size: 16px;
    }

    .main {
        padding: 0.5rem 2rem;
    }

    .title {
        width: 450px;
        height: auto;
    }

    .dialogue {
        font-size: medium;
    }

    .justify {
        max-width: 400px;
    }

    .arrow {
        height: 4rem;
    }

    .dateText,
    .dateAbsoluteText {
        font-size: 28px;
    }

    .footer {
        padding: 1rem 2rem 0.5rem 2rem;
        /* Adjust padding for medium screens */
    }

    .spreadLine {
        width: 6rem;
    }

    .applyButton {
        /* position: absolute; */
        height: auto;
        width: auto;
        z-index: 9999999;
        /* bottom : 3rem; */
        /* margin: 0 auto; */
        margin-top: 20rem;
    }
}

/* Media query for small screens (mobile devices) */
@media (max-width: 480px) {
    .header {
        padding: 1rem 0.5rem;
    }

    .logo {
        height: 40px;
    }

    .title {
        width: 300px;
        height: auto;
    }

    .dialogue {
        font-size: small;
    }

    .logoTwo {
        height: 50px;
    }

    .highlight {
        font-size: 14px;
    }

    .main {
        padding: 0.5rem 1rem;
    }

    .justify {
        max-width: 300px;
    }

    a {
        font-size: medium;
    }

    .arrow {
        height: 3rem;
        left: 5rem;
        top: 2rem;
    }

    .dateText,
    .dateAbsoluteText {
        font-size: 24px;
    }

    .footer {
        padding: 1rem;
    }

    .spreadLine {
        width: 2rem;
    }

    .applyButton {
        /* position: absolute; */
        height: auto;
        width: auto;
        z-index: 9999999;
        /* bottom : 3rem; */
        /* margin: 0 auto; */
        margin-top: 6rem;
    }
}

path {
    stroke: aliceblue;
    stroke-width: 1px;
}