.section {
    padding-top: 1rem;
    height: auto;
    justify-content: space-between;
}

.justify {
    display: flex;
    align-items: center;
    justify-content: center;
    
}

.heading {
    justify-content: center;
    align-items: center;
    color: #FFF;
    font-family: 'Goldman';
    font-size: 28px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 0.84px;
    margin-left: 20px;
    margin-right: 20px;
}

.grid {
    margin-top: 4rem;
    margin-bottom: 4rem;
    display: grid;
    grid-template-columns: 260px  260px 260px;
    justify-content: center;
    margin-bottom: 40px;

}

.sponser {
    display: flex;
    align-items: center;
    justify-content: center;
    color: #AAA;
    margin: 10px;
    border-radius: 20px;
    border: 1px solid #FFFA81;
}

/* Media query for medium screens (tablets) */
@media (max-width: 768px) {
    .section {
        padding-top: 1rem;
        height: auto;
    }

    .grid {
        grid-template-columns: 260px 260px 260px;
    }

    .heading {
        font-size: 24px;
        margin-left: 10px;
        margin-right: 10px;
    }
}

/* Media query for small screens (mobile devices) */
@media (max-width: 480px) {
    .section {
        padding-top: 1rem;
        height: auto;
    }

    .grid {
        grid-template-columns: 68px 68px 68px;
    }

    .heading {
        font-size: 20px;
        margin-left: 5px;
        margin-right: 5px;
    }
    .sponser {
        display: block;
        margin: 10px 0;
    }
}