.section {
    padding-top: 1rem;
    background-color: black;
    height: 100vh;
}

.justify {
    display: flex;
    align-items: right;
}

.heading {
    color: #FFF;
    font-family: 'Goldman';
    font-size: 28px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 0.84px;
    margin-left: 20px;
    margin-right: 20px;
}

/* Media query for medium screens (tablets) */
@media (max-width: 768px) {
    .section {
        padding-top: 1rem;
        background-color: #333;
        /* Adjust background color for medium screens */
        height: 40vh;
        /* Adjust height for medium screens */
    }

    .heading {
        font-size: 24px;
        /* Adjust font size for medium screens */
        margin-left: 10px;
        /* Adjust margin for medium screens */
        margin-right: 10px;
        /* Adjust margin for medium screens */
    }
}

/* Media query for small screens (mobile devices) */
@media (max-width: 480px) {
    .section {
        padding-top: 1rem;
        background-color: #222;
        /* Adjust background color for small screens */
        height: 30vh;
        /* Adjust height for small screens */
    }

    .heading {
        font-size: 20px;
        /* Adjust font size for small screens */
        margin-left: 5px;
        /* Adjust margin for small screens */
        margin-right: 5px;
        /* Adjust margin for small screens */
    }
}