.section {
    padding-top: 1rem;
    height: 30vh;
}

.justify {
    display: flex;
    align-items: center;
    justify-content: center;
}

.heading {
    color: #FFF;
    font-family: 'Goldman';
    font-size: 28px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 0.84px;
    margin-left: 20px;
    margin-right: 20px;
}

/* Media query for medium screens (tablets) */
@media (max-width: 768px) {
    .section {
        padding-top: 1rem;
        height: 40vh;
    }

    .heading {
        font-size: 24px;
        margin-left: 10px;
        margin-right: 10px;
    }
}

/* Media query for small screens (mobile devices) */
@media (max-width: 480px) {
    .section {
        padding-top: 1rem;
        height: 30vh;
    }

    .heading {
        font-size: 20px;
        margin-left: 5px;
        margin-right: 5px;
    }
}