.section {
    background-color: black;
    height: 100vh;
}

.justify {
    display: flex;
    align-items: right;
}

.heading {
    color: #FFF;
    font-family: 'Goldman';
    font-size: 28px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 0.84px;
    margin-left: 5px;
}