
@import url('http://fonts.cdnfonts.com/css/helvetica-neue-9');

* {
  box-sizing: border-box;
}

html,
body,
#root,
.scroll {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  overflow: hidden;
  -webkit-overflow-scrolling:touch;
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", 
  Helvetica, Arial, "Lucida Grande", sans-serif;
}


#root {
  overflow: auto;
}



#container {
  position: relative;
  width: 100%;
  height: 100%;
}





